/* Default and Universal Styles */
::-webkit-scrollbar {
    display: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div {
  height: 60vmin;
  width: 60vmin;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section div p {
  transform: rotate(-45deg);
  font-size: 1.5rem;
  color: transparent;
  transition: all 2s;
}
section div:hover p {
  color: rgba(0, 0, 0, 0.25);
}
#overlay {
  height: 100vh;
  width: 100vw;
  background: transparent;
  position: fixed;
  border-top: 8rem solid black;
  border-bottom: 8rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}
#section-1 {
  background: linear-gradient(to bottom, rgba(200, 0, 0, 1), rgba(150, 0, 50, 1));
}
#section-1 div {
  background: linear-gradient(to top left, rgba(200, 0, 0, 1), rgba(150, 0, 50, 1));
}
#section-2 {
  background: linear-gradient(to bottom, rgba(150, 0, 50, 1), rgba(100, 0, 100, 1));
}
#section-2 div {
  background: linear-gradient(to top left, rgba(150, 0, 50, 1), rgba(100, 0, 100, 1));
}
#section-3 {
  background: linear-gradient(to bottom, rgba(100, 0, 100, 1), rgba(50, 0, 150, 1));
}
#section-3 div {
  background: linear-gradient(to top left, rgba(100, 0, 100, 1), rgba(50, 0, 150, 1));
}
#section-4 {
  background: linear-gradient(to bottom, rgba(50, 0, 150, 1), rgba(0, 0, 150, 1));
}
#section-4 div {
  background: linear-gradient(to top left, rgba(50, 0, 150, 1), rgba(0, 0, 150, 1));
}
#section-5 {
  background: linear-gradient(to bottom, rgba(0, 0, 150, 1), rgba(0, 0, 0, 1));
}
#section-5 div {
  background: linear-gradient(to top left, rgba(0, 0, 150, 1), rgba(0, 0, 0, 1));
}

/* Background Colors */
.bg-black {
  background: rgba(0, 0, 0, 1) !important;
}

/* Animations */
.box-grow {
  animation: box-grow 1s;
}

@keyframes box-grow {
  0% {
    height: 10px;
    width: 10px;
  }
  100% {
    height: 1px;
    width: 1px;
  }
}
